@import "tailwindcss";

/* =========================
   BASE
========================= */

:root {
  --background: #f8fafc;
  --foreground: #020617;
}

/* =========================
   BASE STYLES
========================= */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: ui-sans-serif, system-ui, sans-serif;
}

/* =========================
   TITLES
========================= */

h1 {
  font-size: 1.5rem;
  font-weight: 600;
}

h2 {
  font-size: 1.25rem;
  font-weight: 600;
}

h3 {
  font-size: 1.125rem;
  font-weight: 600;
}